<ActionBar  class="action-bar" style="background-color: #422039;color: white; vertical-align: center">
    <Label text="Manage Cards" style="color: white; vertical-align: center;font-size: 22pt;font-weight: bold"></Label>
</ActionBar>

<side-drawer-page>

    <StackLayout class="page page-content">
        <StackLayout class="page page-content" height="85%" xmlns:stripe="nativescript-stripe">

            <StackLayout class="form">
                <Label text="Enter card details:" style="width:90%;margin-top:5%;margin-left:3%"></Label>
                <StackLayout class="input-field">
                    <TextField class="input input-border myTextField" hint="credit card" maxLength="16" autocorrect="false"
                               (returnPress)="onCCReturnPress($event)" (blur)="onCCReturnBlur($event)" returnKeyType="done" keyboardType="number"
                               style="margin-top:2%;height: 100px;width:90%;border-style:dashed;font-weight: bold;font-size:20pt"></TextField>
                    <StackLayout orientation="horizontal" class="input-field">
                        <TextField class="input input-border myTextField" hint="MM" maxLength="2" autocorrect="false"
                                   (returnPress)="onMMReturnPress($event)" (blur)="onMMReturnBlur($event)" returnKeyType="done" keyboardType="number"
                                   style="margin-left:3%;height: 100px;width:30%;border-style:dashed;font-weight: bold;font-size:20pt"></TextField>
                        <TextField class="input input-border myTextField" hint="YY" maxLength="2" autocorrect="false"
                                   (returnPress)="onYYReturnPress($event)" (blur)="onYYReturnBlur($event)" returnKeyType="done" keyboardType="number"
                                   style="margin-left:2%;height: 100px;width:30%;border-style:dashed;font-weight: bold;font-size:20pt"></TextField>
                    </StackLayout>
                    <TextField class="input input-border myTextField" hint="CVC" horizontalAlignment="left" maxLength="4" autocorrect="false"
                               (returnPress)="onCVCReturnPress($event)" (blur)="onCVCReturnBlur($event)" returnKeyType="done" keyboardType="number"
                               style="margin-left:5%;height: 100px;width:40%;border-style:dashed;font-weight: bold;font-size:20pt"></TextField>
                </StackLayout>

                <ActivityIndicator row="1" #activityIndicator busy="false" (busyChange)="onBusyChanged($event)"
                                   width="100" height="50" class="activity-indicator"></ActivityIndicator>

                <android>
                    <Button text="Register Card" *ngIf="!cardExists" (tap)="onCardRegister($event)" class="buttons90P-W"
                    style="background-color: #E12842"></Button>
                    <Button text="Update Card" *ngIf="cardExists" (tap)="onCardRegister($event)" class="buttons90P-W"
                            style="background-color: #E12842"></Button>
                </android>
                <ios>
                    <Button text="Register Card" *ngIf="!cardExists" (tap)="onCardRegister($event)" class="buttons90P-W-ios"
                            style="background-color: #E12842"></Button>
                    <Button text="Update Card" *ngIf="cardExists" (tap)="onCardRegister($event)" class="buttons90P-W-ios"
                            style="background-color: #E12842"></Button>
                </ios>
            </StackLayout>

            <StackLayout>
                <Label *ngIf="cardExists" text="Your current registered cards details are:" style="width:90%;margin-top:5%;margin-left:1%"></Label>
                <Label *ngIf="!cardExists" text="No card details registered" style="width:90%;margin-top:5%;margin-left:3%"></Label>
                <StackLayout orientation="horizontal">
                    <Label *ngIf="cardExists" text="Last 4 digits:" style="width:40%;margin-top:5%;margin-left:7%">></Label>
                    <Label *ngIf="cardExists" text={{last4}} style="margin-left:3%">></Label>
                </StackLayout>
                <StackLayout orientation="horizontal">
                    <Label *ngIf="cardExists" text="Card Brand:" style="width:40%;margin-top:5%;margin-left:7%">></Label>
                    <Label *ngIf="cardExists" text={{brand}} style="margin-left:3%">></Label>
                </StackLayout>
            </StackLayout>

            <!--<Label text="Enter email" style="width:90%;margin-top:5%"></Label>-->

           <!-- <TextField hint="Email Address" class="input input-border myTextField" keyboardType="email" style="margin-top:5%;width:90%;border-style:dashed;"></TextField>

            <ListPicker [items]="month" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)"
                                horizontalAlignment="left" style="width:40%;border-style:dashed;"></ListPicker>

            <Label text="Card and Expiry" style="width:90%;margin-top:5%"></Label>

            <stripe:CreditCardView #cardView style="margin-top:5%;width:90%"/>-->

        </StackLayout>

        <!-- <StackLayout orientation="vertical" horizontalAlignment="left" height="15%" width="100%">
            <Button text="Register Card" *ngIf="!cardExists" (tap)="onCardRegister($event)" class="roundedButtons buttons80P-W"></Button>
            <Button text="Update Card" *ngIf="cardExists" (tap)="onCardRegister($event)" class="roundedButtons buttons80P-W"></Button>
        </StackLayout> -->

    </StackLayout>

</side-drawer-page>

