<ActionBar  class="action-bar" style="background-color: #422039;color: white; vertical-align: center">
    <Label text="DQCafe" style="color: white; vertical-align: center;font-size: 22pt;font-weight: bold"></Label>
</ActionBar>

<side-drawer-page>
    <StackLayout>
        <StackLayout *ngIf="!processingRegistration">

            <StackLayout style="margin-top:2%;width: 10%"></StackLayout>
            <Label text="Registration" style="color: #422039; vertical-align: center;font-size: 22pt;font-weight: bold;
            text-align: center"></Label>

            <!--some image can go here...-->
            <ios>
                <StackLayout style="height:5%"></StackLayout>
            </ios>

            <StackLayout orientation="horizontal" style="margin-top:2%">

                <StackLayout style="width: 10%"></StackLayout>
                <StackLayout>
                    <Label text="Password rules" class="list-group-item"></Label>
                    <Label text="- minimum 12 characters (no spaces)"> </Label>
                    <Label text="- that's it!" > </Label>
                </StackLayout>
            </StackLayout>

            <StackLayout orientation="horizontal">
                <Label text="" style="width: 10%"> </Label>
                <TextField hint="First name" autocorrect="false" returnKeyType="done" class="input input-border myTextField"
                           style="margin-top:2%;height: 15%;width:80%;border-style:dashed;font-weight: bold;font-size:18pt"
                           #name></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal">
                <Label text="" style="width: 10%"> </Label>
                <TextField hint="Enter a valid email" autocorrect="false" returnKeyType="done"
                           class="{{emailValid ? 'input input-border myTextField' : 'validation'}}"
                           style="margin-top:2%;height: 15%;width:80%;border-style:dashed;font-weight: bold;font-size:18pt"
                           (textChange)="onEmailTextChange($event.value)"
                           #email></TextField>
            </StackLayout>

            <StackLayout orientation="horizontal">
                <Label text="" style="width: 10%"> </Label>
                <TextField #password hint="Password" autocorrect="false" returnKeyType="done"
                           class="{{passwordValid ? 'input input-border myTextField' : 'validation'}}" secure="true"
                           style="margin-top:2%;height: 15%;width:80%;border-style:dashed;font-weight: bold;font-size:18pt"
                           (textChange)="onPasswordTextChange($event.value)"> </TextField>
            </StackLayout>

            <StackLayout orientation="horizontal">
                <Label text="" style="width: 10%"> </Label>
                <TextField #password2 hint="Confirm Password" autocorrect="false" returnKeyType="done"
                           class="{{password2Valid ? 'input input-border myTextField' : 'validation'}}" secure="true"
                           style="margin-top:2%;height: 15%;width:80%;border-style:dashed;font-weight: bold;font-size:18pt"
                           (textChange)="onPassword2TextChange($event.value)"> </TextField>
            </StackLayout>

            <ActivityIndicator row="1" #activityIndicator busy="false" (busyChange)="onBusyChanged($event)"
                               width="100" height="50" class="activity-indicator"></ActivityIndicator>

            <android>
                <Button id="register" text="Register" (tap)="onRegister(name,email,password,$event)"
                        style="margin-top:5%;width: 90%;"
                        *ngIf="registerButtonActive"   class="buttonactive"></Button>

                <Button text="Register" style="margin-top:5%;width: 90%;"
                        *ngIf="!registerButtonActive"   class="buttoninactive"></Button>
            </android>

            <ios>
                <Button id="register" text="Register" (tap)="onRegister(name,email,password,$event)"
                        style="margin-top:5%;width: 90%;"
                        *ngIf="registerButtonActive"   class="buttonactive buttons90P-W-ios"></Button>

                <Button text="Register" style="margin-top:5%;width: 90%;"
                        *ngIf="!registerButtonActive"   class="buttoninactive buttons90P-W-ios"></Button>
            </ios>

        </StackLayout>

        <StackLayout *ngIf="processingRegistration">
            <StackLayout style="height: 20%">

            </StackLayout>
            <Label text="Registering your details...."></Label>

        </StackLayout>

    </StackLayout>
</side-drawer-page>