<ActionBar style="background-color: #FFA8A3"></ActionBar>

<StackLayout>

    <StackLayout class="page page-content">
        <ListView [items]="selectedMenu" class="list-group" style="height:200px;width:80%">
            <ng-template  let-item="item">
                <Label [text]="item.name" class="list-group-item" style="width: 70%;font-weight:bold"></Label>
            </ng-template>
        </ListView>
    </StackLayout>

    <StackLayout style="width: 80%" orientation="horizontal">
        <Label text="Payment Method"></Label>
        <ListPicker [items]="options" selectedIndex="0"
                    (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>
    </StackLayout>



    <Label text="Where are you seated???" style="width:80%"></Label>

    <TextField hint="Table #"
               (textChange)="ontextChange($event)"
               [text]="location"
               style="width:80%"></TextField>

    <!--
    <StackLayout orientation="horizontal">
            <Label class="h3" text="1" textWrap="true"></Label>
            <Slider minValue="1" maxValue="5" [(ngModel)]="sliderValue1" style="width: 50%"></Slider>
            <Label class="h3" [text]="sliderValue1" textWrap="true"></Label>
    </StackLayout>
    <StackLayout style="width: 80%" orientation="horizontal">
        <Label text="Size"></Label>
        <ListPicker [items]="options" selectedIndex="0"
                (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker>
    </StackLayout> -->
    <android>
        <Button text="Place Order" (tap)="close()"
        style="background-color: #F57A73"></Button>
    </android>
    <ios>
        <Button text="Close" (tap)="close()"></Button>
    </ios>
</StackLayout>