.category {

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 40px;

    color: #1a626f;
    font-weight: bold;font-size: 18pt;

}

.cafeName {

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 40px;
    color: #1a626f;
    font-weight: bold;font-size: 22pt;

}


.textpadding{

    padding-top: 50px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 40px;

}

.image{
    border: 5px solid #ddd; /* Gray border */
    vertical-align: middle;
    border-radius: 10%;
}

.list-group-item-copy{
color:#212121;font-size:14;margin:0;padding:10
}

