<ActionBar class="action-bar" style="background-color: #1a626f;color: white">
    <StackLayout orientation="horizontal">
        <android>
            <Label text="X" style="width: 30% ;font-size: 20pt;font-weight: bold" (tap)="onCancelNav()"></Label>
        </android>
        <Label text="                "></Label>
        <Label [text]="cafe.name" style="font-size:  18pt;vertical-align: center;font-weight: bold"></Label>
    </StackLayout>
</ActionBar>


    <StackLayout style="margin-top: 5%">

    <TabView
            [(ngModel)]="tabSelectedIndex" borderBottomcolor="#B52E26"
                 iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton style="height: 100%">


    <StackLayout *tabItem="{title: 'Menu'}">

    <StackLayout>
    <StackLayout *ngIf="toggleMenuCart">
        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
                <Label text="All" id="all" (tap)="onclickAll($event)" class="category"></Label>
                <StackLayout orientation="horizontal" *ngFor=" let categ of categories; let i = index">
                    <Label [text]="categ" id="category" (tap)="onfiltercategory(categ,$event)" class="category"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>

        <StackLayout class="page page-content" >
            <ListView [items]="myMenu" class="list-group" style="{{scrollHeight}}">
                <ng-template  let-item="item">
                    <StackLayout id="menuitem" (tap)="ontapMenu(item,$event)"
                                 (swipe)="addtoOrderlist(item,$event)" orientation="horizontal">
                        <StackLayout orientation="vertical" style="width: 85%;">
                            <Label [text]="item.name" textWrap="true" class="list-group-item-copy" style="font-size: 14pt;font-weight: bold;"></Label>
                            <Label [text]="item.description" textWrap="true" class="list-group-item-copy" style="font-size: 10pt"></Label>
                        </StackLayout>
                        <Label [text]="'$'+item.price" class="list-group-item-copy" style="width: 20%;font-size: 12pt"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>
        </StackLayout>

    </StackLayout>

        <!--<StackLayout *ngIf="cartEmpty" style="{{scrollHeightBase}}" backgroundColor="#1a626f">-->
            <!--<Label text="Cart empty!"  horizontalAlignment="center" verticalAlignment="middle" style="color:white; font-size: 18px;text-align: center;padding-top: 15px"></Label>-->
        <!--</StackLayout>-->

        <StackLayout id="viewcart" *ngIf="!cartEmpty && toggleMenuCart" style="{{scrollHeightBase}}" backgroundColor="#1a626f" (tap)="OnViewCart($event)" orientation="horizontal">
            <Label [text]="'$' + total$" verticalAlignment="middle" horizontalAlignment="left"
                   style="color:white; font-size: 18px;text-align: center;padding-top: 15px"></Label>
            <Label text="View cart"  horizontalAlignment="center" verticalAlignment="middle"
                   style="color:white; font-size: 18px;text-align: center;padding-top: 15px;margin-left: 30%"></Label>
            <Label [text]="itemCount" verticalAlignment="middle" horizontalAlignment="right"
                   style="color:white; font-size: 18px;text-align: center;padding-top: 15px;margin-left: 30%"></Label>
        </StackLayout>

        <StackLayout id="checkout" *ngIf="!cartEmpty && !toggleMenuCart" style="{{scrollHeightBase}}" backgroundColor="#1a626f" (tap)="OnViewMenu($event)">
            <Label text="Return to menu"  horizontalAlignment="center" verticalAlignment="middle"
                   style="color:white; font-size: 18px;text-align: center;padding-top: 15px"></Label >
        </StackLayout>

        <ns-confirm-order *ngIf="!toggleMenuCart" [cafeid]="cafe"
                          (cartEmpty)="cartInfoReturned($event)"></ns-confirm-order>

    </StackLayout>
    <StackLayout *tabItem="{title: 'Info'}">

        <Image [src]="cafe.imgSrc" top="0"  right="0"></Image>

        <Label style="font-size: 20pt" textWrap="true"
               text="Space for displaying information on cafe... maybe"></Label>
    </StackLayout>

    </TabView>



    </StackLayout>

