<ActionBar title="DQ" class="action-bar"
           style="background-color: #0A4C58;color: white"></ActionBar>

<StackLayout>
<!--Cafe name and description and other properties later-->


    <!--Categories-->

    <StackLayout>
        <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal">
                <Label text="All" (tap)="onclickAll()" class="category"></Label>
                <StackLayout orientation="horizontal" *ngFor=" let categ of categories; let i = index">
                    <Label [text]="categ" (tap)="onfiltercategory(categ)" class="category"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>



        <StackLayout class="page page-content">
            <ListView [items]="myMenu" class="list-group" style="height: 60%">
                <ng-template  let-item="item">
                    <StackLayout id="food1" (tap)="ontapMenu(item)"
                                 (swipe)="addtoOrderlist(item,$event)" orientation="horizontal">
                        <StackLayout orientation="vertical" style="width: 75%;">
                            <Label [text]="item.name" class="list-group-item-copy" style="font-size: 14pt;font-weight: bold;"></Label>
                            <Label [text]="item.description" class="list-group-item-copy" style="font-size: 10pt"></Label>
                        </StackLayout>
                        <Label [text]="'$'+item.price" class="list-group-item-copy" style="width: 25%;font-size: 14pt"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>

        <StackLayout>

        </StackLayout>

        <StackLayout *ngIf="cartEmpty" style="width: 90%;">
            <Label text="Nothing Selected Yet..." style="align-items: baseline;font-size: 14px;; width: 50%;"></Label>
        </StackLayout>

        <StackLayout *ngIf="!cartEmpty" style="width: 90%;">
            <Label text="Order Summary" style="align-items: flex-start;font-size: 12px;font-weight: bold;color: #1a626f"></Label>
            <StackLayout orientation="horizontal">
                <Button text="Cancel" (tap)="onorderCancel()" style="width: 25%;background-color: #8F130C;color: white;"
                        *ngIf="!buttondisable"></Button>
                <Button [text]="'$' + total$" style="width: 50%;background-color: #d6f39b;"></Button>
                <Button text="Confirm" (tap)="OnOrder()" style="width: 25%;background-color: #1A626F;color: white;"
                        *ngIf="!buttondisable"></Button>

            </StackLayout>

            <ListView [items]="order" class="list-group">
                <ng-template let-item="item">
                    <StackLayout id="food2"(tap)="ontapOrder(item)"
                                 (swipe)="removefromOrderlist(item,$event)" orientation="horizontal">
                        <Label [text]="item.name"
                               class="list-group-item-copy" style="width: 70%"></Label>
                        <Label [text]="'$' + item.price" class="list-group-item-copy" style="width: 20%"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>

        </StackLayout>

    </StackLayout>
</StackLayout>