<ActionBar title="{{item?.name}}" class="action-bar"></ActionBar>
<!--<ActionBar title="Test." class="action-bar"></ActionBar>-->
<StackLayout >
    <StackLayout class="m-15" style="height: 50%">

        <ListView [items]="menu" class="list-group">
            <ng-template let-item="item">
                <Label [text]="item.name + '   ' + item.price"
                       class="list-group-item" (tap)="ontapMenu(item.name)"></Label>
            </ng-template>
        </ListView>

    </StackLayout>

    <StackLayout class="m-12" style="height:50%">
        <!--<ns-cart></ns-cart>-->
    </StackLayout>


</StackLayout>
