.container {

    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;

}

.textpadding{

    padding-top: 50px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 40px;

}



/*//drawer*/
  .drawerContentText {
      font-size: 13pt;
      padding: 10px;
  }

.drawerContentButton {
    margin: 10px;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: gray;
}

.sideTitleStackLayout {
    height: 56px;
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10px;
}

.sideLightGrayLabel {
    background-color: lightgray;
}


.processed {
    height: 48;
    font-size: 16;
    background-color: #b4ed55;
    padding-top: 16;
    padding-bottom: 16;
    padding-right: 16;
}

.inProgress {
    height: 48;
    font-size: 16;
    background-color: #4883ed;
    padding-top: 16;
    padding-bottom: 16;
    padding-right: 16;
}

.ordered {
    height: 48;
    font-size: 16;
    background-color: #ed1f2a;
    padding-top: 16;
    padding-bottom: 16;
    padding-right: 16;
}
