<ActionBar title="DQ" class="action-bar">
</ActionBar>

<StackLayout class="page" orientation="vertical">

<StackLayout style="width: 95%;height:70%">
            <Mapbox
        [accessToken]="access_token"
        [mapStyle]="map_style"
        [latitude]="latitude"
        [longitude]="longitude"
        [zoomLevel]="zoomlevel"
        [delay]=""
        [showUserLocation]="true"
        [hideCompass]="false"
        [disableZoom]="false"
        [disableRotation]="false"
        [disableScroll]="false"
        [disableTilt]="false"
        (mapReady)="onMapReady($event)">
            </Mapbox>

</StackLayout>

    <StackLayout>
        <Image src="http://www.pngmart.com/files/4/Cool-PNG-Image.png"></Image>

    </StackLayout>

</StackLayout>