<ActionBar  class="action-bar" style="background-color: #0A4C58;color: white; vertical-align: center">
<Label text="DQCafe" style="color: white; vertical-align: center;font-size: 22pt;font-weight: bold"></Label>
</ActionBar>


<side-drawer-page>
<TabView [(ngModel)]="tabSelectedIndex" borderBottomcolor="#B52E26"
iosIconRenderingMode="alwaysOriginal" sdkExampleTitle sdkToggleNavButton style="height: 100%">

<!--List View-->
<StackLayout *tabItem="{title: 'Around You'}">
<StackLayout>
    <SearchBar #sb id="searchbar" [text]="searchPhrase" hint="Type to search" (submit)="onSubmit($event)" (loaded)="searchLoaded()" (textChange)="onTextChanged($event)"
               (clear)="onClear($event)" color="black"></SearchBar>

    <!--<SearchBar id="searchbarid"  -->
    <ListView [items]="myItems" class="list-group container" style="height: 90%">
<!--each list item-->
        <ng-template  let-item="item" class="textpadding">
<!--first stack-->
            <StackLayout id="cafename" orientation="horizontal" (tap)="jumptoMenu(item.cafeId,$event)" style="height: 15%">
<!--cafe image-->
               <android>
                    <Image [src]="item.imgSrc"  style="width: 30%;border-image-width: 100%"></Image>
                </android>
                <ios>
                    <Image [src]="item.imgSrc" stretch="fill" class="img-rounded p-l-15 p-r-15 p-t-15" style="width: 30%;border-image-width: 100%"></Image>                </ios>
<!--name and description-->
                <StackLayout orientation="vertical" style="width: 60%">
                    <Label [text]="item.name" textWrap="true" class="list-group-item" style="font-weight: bold"></Label>
                    <Label [text]="item.description" textWrap="true" class="list-group-item" style="font-size: 10pt"></Label>
                 </StackLayout>
<!--rating and dollar      -->
                <StackLayout style="width: 10%" orientation="vertical">
                <Label text=""></Label>
                <Label  text="$$" style="color:#FFA8A3"></Label>
                <Label  text="*"></Label>
                </StackLayout>
                <Label text=" X " class="h-block" ></Label>
            </StackLayout>

        </ng-template>
    </ListView>

</StackLayout>

    </StackLayout>


<!--Your Orders view-->
    <StackLayout *tabItem="{title: 'Your Orders'}" (tap)="changeTab()">
            <ListView [items]="orderComplexLocalFilter" class="list-group" style="height: 90%">
                <ng-template let-item="item" let-i="index">
                    <StackLayout>
                       <Label [text]="item.cafeOwner" style="font-weight: bold;font-size:16pt"> </Label>
                        <Label [text]="'Order #:  ' + item.orderNo2"
                               style="font-weight: bold;font-size:14pt"></Label>
                        <StackLayout orientation="horizontal">
                            <Image [src]="item.imgSrc"  style="width: 20%"></Image>
                            <StackLayout orientation="vertical">
                            <StackLayout *ngFor="let order of item.order" style="width: 60%">
                                <StackLayout orientation="horizontal">
                                    <Label [text]="order.quantity" style="margin-left: 5%"></Label>
                                    <Label text="x"></Label>
                                    <Label [text]="order.name"></Label>
                                </StackLayout>
                                <Label [text]="order.specialInstruction"></Label>
                            </StackLayout>
                            </StackLayout>
                            <StackLayout verticalAligment="middle">
                            <Label text="Total" style="font-size: 14pt" style.verticalAlignment="center" style.textAlignment="center"></Label>
                            <Label [text]="'$' + item.total" style="font-size: 14pt" style.verticalAlignment="center" style.textAlignment="center"></Label>
                            </StackLayout>
                        </StackLayout>

                            <StackLayout *ngIf="item.status=='completed'" style="height: 0.25%;width: 100%"
                                         class="processed"><Label text="Order is ready!!!" style="color: white"></Label> </StackLayout>
                            <StackLayout *ngIf="item.status=='processing'" style="height: 0.25%;width: 100%"
                                         class="inProgress" ><Label text="Order is being prepared!!!" style="color: white"></Label> </StackLayout>
                            <StackLayout *ngIf="item.status=='ordered'" style="height: 0.25%;width: 100%"
                                         class="ordered"><Label text="Order has been placed!!!" style="color: white"></Label> </StackLayout>

                    </StackLayout>
                </ng-template>
            </ListView>

        <StackLayout orientation="horizontal" style="height: 10%">
            <Button text="Current Orders" (tap)="onTapCurrentOrder()" style="width: 50%"></Button>
            <Button text="Past Orders" (tap)="onTapPastOrders()" style="width: 50%"></Button>
        </StackLayout>

    </StackLayout>


</TabView>

</side-drawer-page>