<StackLayout class="page page-content">

    <ActionBar title="ActionBar Style">
        <NavigationButton text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
        <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right"></ActionItem>
    </ActionBar>

    <StackLayout orientation="vertical" horizontalAlignment="left" height="40" width="100%" backgroundColor="#1a626f">
        <android>
            <Button text=" Add Order" (tap)="close('true')"></Button>
        </android>
        <ios>
            <Button text="X" horizontalAlignment="left" (tap)="close()" style="color:black;font-size: 20px"></Button>
        </ios>
    </StackLayout>

    <Label text={{selectedMenuItem.name}} style="horizontal-align: center;font-size: 20pt;font-weight: bold"></Label>


    <Label text={{selectedMenuItem.description}} textWrap="true" style="font-size: 12px"></Label>

    <StackLayout style="border-color:#1a626f ; border-width: 2px ; width: 90%;">
        <TextField hint="any special instructions..." (textChange)="onTextChange($event)"></TextField>
    </StackLayout>

    <StackLayout *ngIf="choices">
    <Label class="p-10" text="Select Radio Options" textWrap="true" style="font-weight: bold"></Label>
    <StackLayout class="p-10" *ngFor="let option of radioOptions">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <CheckBox #elem boxType="circle" [checked]="option.selected" (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)" class="checkbox"></CheckBox>
            <StackLayout verticalAlignment="center" orientation="horizontal">
                <Label text="+ $"></Label>
                <Label [text]="option.price" style="width: 10%"></Label>
                <Label [text]="option.text" textWrap="true" (tap)="changeCheckedRadio(option)"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    </StackLayout>


     <StackLayout *ngIf="extra">
    <Label class="p-10" text="Select Check Options" textWrap="true" style="font-weight: bold"></Label>
    <StackLayout class="p-10" *ngFor="let option of checkOptions">
        <StackLayout orientation="horizontal" verticalAlignment="center">
            <CheckBox #elem [checked]="false" class="checkbox" (tap)="checkedExtra(option)"></CheckBox>
            <StackLayout verticalAlignment="center" orientation="horizontal">
                <Label text="+ $"></Label>
                <Label [text]="option.price" style="width: 10%"></Label>
                <Label [text]="option.text" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
     </StackLayout>

</StackLayout>