<StackLayout>


    <StackLayout class="page page-content">
        <ListView [items]="selectedMenu" class="list-group" style="height:200px;width:80%">
            <ng-template  let-item="item">
                <Label [text]="item.name" class="list-group-item" style="width: 70%;font-weight:bold"></Label>
            </ng-template>
        </ListView>
    </StackLayout>

    <Label text={{selectedMenuItem.description}} style="font-size: 20pt;font-weight: bold"></Label>

    <StackLayout>

        <StackLayout style="width: 90%" *ngIf="choices">

                <StackLayout orientation="horizontal">

                    <Stacklayout style="vertical-align: center;margin: 20%">
                       <Label [text]="picked" style="font-weight: bold; font-size: 20pt"></Label>
                        <Label [text]="'+'+'$'+pickedPrice" style="font-weight: bold; font-size: 20pt"></Label>
                    </Stacklayout>

                    <ListPicker [items]="options" selectedIndex="0"
                                (selectedIndexChange)="selectedIndexChanged($event)"
                    style="width: 40%;font-size: 16pt"></ListPicker>

                </StackLayout>
        </StackLayout>
        <StackLayout style="width: 20%"></StackLayout>

        <StackLayout style="width: 90%" *ngIf="extras">
            <Label text="Extras" style="font-weight: bold"></Label>
            <CheckBox #CB1 text="Penne" checked="true"></CheckBox>
            <CheckBox #CB1 text="Spaghetti" checked="true"></CheckBox>
            <Button (tap)="toggleCheck()" text="Toggle"></Button>
            <Button (tap)="getCheckProp()" text="Check"></Button>
        </StackLayout>

    </StackLayout>

    <TextField hint="any special instructions..." (textChange)="onTextChange($event)"></TextField>

    <android>
        <Button text=" Add Order" (tap)="close('true')"></Button>
    </android>
    <ios>
        <Button text="Close" (tap)="close()"></Button>
    </ios>



</StackLayout>