<StackLayout *ngIf="displayCart" style="height: 50%">
    <Label text="Your Order" class="h-block"></Label>
    <ListView [items]="order" class="list-group" style="height: 100%">
        <ng-template  let-item="item" let-i="index">
            <StackLayout orientation="vertical">
                <StackLayout orientation="horizontal">

                        <Label [text]="item.name" textWrap="true"
                           class="list-group-item-copy" style="width: 55%;font-weight: bold"></Label>
                        <Label [text]="'$' + item.priceQuantity" class="list-group-item-copy" style="margin-left:14%;width: 18%"></Label>
                        <Label text="X" style="width:9%;font-weight: bold;color: red" class="list-group-item-copy2" (tap)="decreaseQuantity(item,i)"></Label>

                </StackLayout>

                <StackLayout orientation="vertical">
                    <!--Add display of options and extras here-->
                    <Label [text]="item.option.text" *ngIf="item.option.text" class="list-group-item-copy" style="margin-left:2%;"></Label>
                    <StackLayout *ngIf="item.extras">
                        <StackLayout *ngFor="let extra of item.extras">
                            <Label [text]="extra.text" class="list-group-item-copy" style="margin-left:2%;"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label [text]="item.specialInstruction" class="list-group-item-copy"></Label>

                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
<StackLayout orientation="horizontal" style="height: 30%">
<Label text="Total" textWrap="true"
       class="list-group-item-copy" style="width: 80%;font-weight: bold"></Label>
<Label [text]="'$' + total$" textWrap="true"
       class="list-group-item-copy" style="width: 50%;font-weight: bold"></Label>
</StackLayout>
<StackLayout>

    <StackLayout >

        <ActivityIndicator row="1" #activityIndicator busy="false" (busyChange)="onBusyChanged($event)"
                           width="100" class="activity-indicator"></ActivityIndicator>

        <android>
            <Button #pb1 text="Tap to Pay" (tap)="onOrder()" (cardExist)="updateButton($event)"
                    style="width:90%;background-color: #E12842;color: white"></Button>
        </android>
        <ios>
            <Button #pb2 text="Tap to Pay" (tap)="onOrder()" (cardExist)="updateButton($event)"
                    class="buttons90P-W-ios-red"></Button>
        </ios>
    </StackLayout>

</StackLayout>