
.list-group-item-copy{
    color:#212121;font-size:14;margin:0;padding:10;
}

.list-group-item-copy2{
    color:#212121;font-size:18;margin:0;padding:10;
}

.list-group-item-copy-ios{
    height: 20;
    color:#212121;font-size:14;margin:0;padding:10;
}

.list-group-item-copy2-ios{
    color:#212121;font-size:18;margin:0;padding:10;height: 10;
}
.h-line {
    height: 1;
    background-color: #DCDCDC;
}
.h-block{
    height: 40;
    background-color: #DCDCDC;
    color:#212121;font-size:18;margin:0;padding:10
}

.h-height {
    height: 100;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}