<StackLayout *ngIf="displayCart" style="height: 70%">
    <Label text="Your Order" class="h-block"></Label>
    <ListView [items]="order" class="list-group" style="height: 100%">
        <ng-template  let-item="item" let-i="index">
            <StackLayout orientation="vertical">
                <StackLayout orientation="horizontal">
                        <Label text="+" style="width: 7%" class="list-group-item-copy2 numberCircle" (tap)="increaseQuantity(item,i)"></Label>
                        <Label [text]="item.quantity" style="margin-left:2%;width: 10%" class="list-group-item-copy2"></Label>
                        <Label text="-" style="width: 5%" class="list-group-item-copy2 numberCircle" (tap)="decreaseQuantity(item,i)"></Label>

                        <Label [text]="item.name" textWrap="true"
                           class="list-group-item-copy" style="margin-left:2%; width: 60%"></Label>
                        <Label [text]="'$' + item.priceQuantity" class="list-group-item-copy" style="width: 20%"></Label>

                </StackLayout>

                <StackLayout orientation="vertical">
                    <!--Add display of options and extras here-->
                    <Label [text]="'-' + item.option.text" *ngIf="item.option.text" class="list-group-item-copy"></Label>
                    <StackLayout *ngIf="item.extras">
                        <StackLayout *ngFor="let extra of item.extras">
                            <Label [text]="'-' + extra.text" class="list-group-item-copy"></Label>
                        </StackLayout>
                    </StackLayout>
                    <Label [text]="item.specialInstruction" class="list-group-item-copy"></Label>

                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>

<StackLayout>

    <StackLayout orientation="horizontal">

        <Label text="Total" textWrap="true"
               class="list-group-item-copy" style="width: 80%"></Label>
        <Label [text]="'$' + total$" textWrap="true"
               class="list-group-item-copy" style="width: 50%"></Label>
    </StackLayout>

    <StackLayout>

        <ActivityIndicator row="1" #activityIndicator busy="false" (busyChange)="onBusyChanged($event)"
                           width="100" height="30" class="activity-indicator"></ActivityIndicator>

        <android>
            <Button #pb1 text="Tap to Pay" (tap)="onOrder()" (cardExist)="updateButton($event)"
                    style="width:90%;background-color: #B52D26;color: white"></Button>
        </android>
        <ios>
            <Button #pb2 text="Tap to Pay" (tap)="onOrder()" (cardExist)="updateButton($event)"
                    class="buttons90P-W-ios-red"></Button>
        </ios>
    </StackLayout>
    <!--<StackLayout>
        <Button text="Add Card" *ngIf="!cardExists" (tap)="manageCards()" (cardExist)="updateButton($event)"
                style="width:80%;background-color: #B52D26;color: white"></Button>
    </StackLayout>-->

</StackLayout>