<ActionBar  class="action-bar" style="background-color: #0A4C58;color: white; vertical-align: center">
    <Label text="DQCafe" style="color: white; vertical-align: center;font-size: 22pt;font-weight: bold"></Label>
</ActionBar>

<side-drawer-page>
    <StackLayout>

        <!--some image can go here...-->

        <StackLayout style="height: 20%"></StackLayout>

        <StackLayout *ngIf="!resetClicked">

            <!--<ios>
                <StackLayout style="height:5%"></StackLayout>

                <StackLayout class="form">
                    <StackLayout class="input-field">
                        <TextField #email hint="Email" autocorrect="false" returnKeyType="done" keyboardType="url"
                                   class="input input-border myTextField"
                                   style="margin-top:2%;height: 100px;width:90%;border-style:dashed;font-weight: bold;font-size:20pt">
                        </TextField>


                        <TextField #password hint="Password" autocorrect="false" returnKeyType="done"
                                   class="input input-border" secure="true"
                                   style="margin-top:2%;height: 100px;width:90%;border-style:dashed;font-weight: bold;font-size:20pt">
                        </TextField>

                    </StackLayout>
                </StackLayout>
            </ios>


            <android>-->

                <StackLayout orientation="horizontal">
                    <Label text="" style="width: 10%"> </Label>

                    <TextField #email hint="Email" autocorrect="false" returnKeyType="done"
                               class="input input-border myTextField"
                               style="margin-top:2%;height: 100px;width:80%;border-style:dashed;font-weight: bold;font-size:20pt">

                    </TextField>


                </StackLayout>

                <StackLayout orientation="horizontal">
                    <Label text="" style="width: 10%"> </Label>
                    <TextField #password hint="Password" autocorrect="false" returnKeyType="done"
                               class="input input-border myTextField" secure="true"
                               style="margin-top:2%;height: 100px;width:80%;border-style:dashed;font-weight: bold;font-size:20pt">
                    </TextField>
                </StackLayout>

            <!--</android>-->

            <android>
                <Button id="signin" text="Signin" (tap)="onSignin(email,password,$event)"
                    style="background-color: #0A4C58; color: white;margin-top:5%;width: 90%"></Button>
            </android>
            <ios>
                <Button id="signin" text="Signin" (tap)="onSignin(email,password,$event)"
                        class="buttons90P-W-ios" style="margin-top: 5%"></Button>
            </ios>
        </StackLayout>

        <StackLayout orientation="horizontal">
            <Label text="" style="margin-left:0%;margin-top:20%;width:10%"> </Label>
            <Label text="Forgot password?" (tap)="onResetActivated()" style="margin-left:0%"></Label>
            <Label text="" style="margin-left:10%;margin-top:20%;width:10%"> </Label>
            <Label text="Register" (tap)="onNavigateToRegister()"></Label>
        </StackLayout>

        <StackLayout *ngIf="resetClicked">
            <StackLayout orientation="horizontal">
                <Label text="" style="width: 10%"> </Label>
                <TextField #email2 hint="Email" autocorrect="false" returnKeyType="done"
                           class="input input-border" style="width: 80%"></TextField>
            </StackLayout>
            <Button text="Reset Password" (tap)="onForgotPassword(email2)"
                    style="background-color: #0A4C58; color: white;width: 90%"></Button>

        </StackLayout>

    </StackLayout>
</side-drawer-page>